#name {
    font-family: monspace;
    font-size: 50px;
    text-emphasis: underline;
    color: orangered;
    opacity: 0.6
}

.about {
    font-family: "Times New Roman";
}
li:hover{
    color: grey;
}

